@font-face {
  font-family: "Soyuz Grotesk";
  src: url("../public/fonts/Soyuz-Grotesk-Bold.otf") format("opentype");
}

:root {
  --green: #496937;
  --orange: #e7632a;
  /* --white: #dcdcdc; */
  --white: #fff;
  --bs-body-bg: rgb(214, 214, 214);
}

body {
  font-family: "Soyuz Grotesk";
  background-color: var(--white);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}