.carusel {
  margin-top: 5vh;
  /* margin-top: 2rem; */
  margin-bottom: 1rem;
}

.carusel_img {
  width: 22rem;
  height: 11rem;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: all 0.3s ease;
}

.carusel_img:hover {
  width: 22.2rem;
  height: 11.2rem;
}

.card_carusel {
  width: 20rem;
  height: 15rem;
  /* background-color: rgba(54, 139, 123, 0.06);*/
  background-color: var(--light-grey);
  border-radius: 12px;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem 1rem;
  /* color: var(--white); */
  color: var(--black);
  font-size: 1.1rem;
  text-align: center;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); */
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card_carusel:hover {
  color: var(--orange);
  background-color: rgba(54, 139, 123, 0.06);
}
.card_carusel_photo {
  width: 14rem;
  height: 8rem;
  border-radius: 8px;
}
.card_carusel_photo {
  margin-bottom: 0.2rem;
  width: 16rem;
  height: 10rem;
  border-radius: 8px;
}