.locations_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  margin-top: 2rem;
}
.location1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  width: calc(56vw + 18px);
  height: calc(24vw + -15px);
  border: solid rgba(0, 0, 0, 0.1);
  margin-top: 1.7rem;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  padding: calc(6vw + 5px);
  color: var(--green);
  background-color: rgb(246,246,246);
  border-radius: 0.7rem;
}
.location_large_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--orange);
  margin-top: 2.25rem;
  text-transform: uppercase;
}
.location_ul {
  list-style-type: none;
  text-align: left;
  margin-top: 1rem;
  padding-left: 0;
}
.location_photo {
  width: 40rem;
  height: 28rem;
  border-radius: 10px;
  transition: 1s; 
  display: block; 
}
.scale1 {
  display: inline-block;
  overflow: hidden; 
 }
 .location_photo:hover {
  transform: scale(1.2); 
 }
.location_title {
  color: var(--black);
  text-align: center;
  font-weight: bold;
}
.location_picture {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location_price {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  padding: 0.5rem 1.2rem;
  background-color: var(--orange);
  border-radius: 35px;
  font-weight: bold;
  color: white;
  font-size: 1.3rem;
}
.location_link {
  margin: 0;
}
.location_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.address_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
  box-sizing: border-box;
  /* position: absolute; */
  z-index: 4;
  background-color: rgba(54, 139, 123, 0.06);
  color: var(--green);
  border-radius: 12px;
  opacity: 1;
  height: 54px;
  top: 70px;
  width: 579.5px;
  left: 15px;
}
.location_card {
  width: 40rem;
  height: 38rem;
  border-radius: 10px;
  background-color: var(--light-grey);
}
.location_category {
  font-size: 15px;
  margin-bottom: 7px;
  color: var(--black);
  text-align: center;
  background-color: var(--light-grey);
}
.location_district, .location_address {
  font-size: 15px;
  margin-bottom: 7px;
  color: var(--green);
  text-align: center;
}
.location_contact {
  font-size: 15px;
}
.btnBookLocation {
  background-color: var(--orange);
  color: white;
  font-weight: bold;
  border-color: var(--orange);
}
.btnBookLocation:hover {
  background-color: var(--white);
  color: var(--green);
  font-weight: bold;
}
.btnFilter {
  background-color: var(--green);
  font-size: 1.5rem;
  border: none;
  outline: solid;
}
.btnFilter:hover {
  background-color: var(--white);
  color: var(--green);
  outline: solid var(--green);
}
.btnSort {
  color: var(--green);
  font-weight: bold;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.btn_filter_category {
  width: 15rem;
  font-weight: bold;
}
.isVisibleBtn {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 21rem;
  height: 12rem;
  background-color: rgb(236,240,239);
  z-index: 2;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  top: 3.4000000000000004rem;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
.isVisibleBtn:hover {
  outline: solid var(--green);
}
.btnFind, .btnReset {
  background-color: var(--orange);
  font-size: 0.9rem;
  border: none;
}
.btnFind:hover, .btnReset:hover {
  background-color: var(--white);
  color: var(--green);
  outline: solid var(--green);
}
.btnsFilter {
  display: flex;
  gap: 1rem;
}
.btnBookLocationDiv {
  display: flex;
  justify-content: center;
  width: 100%;
}
.selectCategory, .selectDistrict  {
  width: 17rem;
}
.locationList {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter {
  margin-top: 2rem;
  display: flex;
  position: relative;
  margin-left: 19rem;
}
.sortUp, .sortDown  {
  display: flex;
  align-items: center;
  cursor: pointer;
  fill: var(--green);
}
.sortUp:hover, .sortDown:hover {
  fill: var(--orange);
}
@media (min-device-width: 320px) and (max-device-width: 1116px) {
  .location {
    flex-direction: column;
    align-items: center;
  }
}