.profile_form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 10% auto; */
  width: 500px;
  height: 440px;
  background: rgba(0,0,0,0.56);
  border-radius: 5vh;
}

.form {
  /* height: 344px; */
  width: 100%;
  /* padding-top: 30px; */
  /* padding-bottom: 15px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.profile_form__title {
  color: var(--white);
}
.profile_form__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 200px;
  /* background-color: white; */
  border-radius: 10px;
  }

.profile_form__input {
  width: 325px;
  border-radius: 5px;
  padding-left: 0.7rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.profile_form__button {
  /* margin-top: 10px; */
  /* padding-top: 10px;
  padding-bottom: 10px;
  align-self: center;*/
  background-color: var(--orange);
  border-color: unset; 
}

.error_message {
  color: red;
  font-size: 16px;
  font-weight: 400;
}

.error {
  color: white;
  font-weight: bolder;
}