.right_form__wrapper {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* width: 80vw; */
  height: 80vh;
  background-image: url('/public/oboi-1.jpg'); 
  background-size: cover;
}

.left_form__list {
  list-style-type: none;
  width: 300px;
  /* padding-top: 20px; */
}

.left_form__link {
  color: var(--green);
}

.burger {
  width: 50px;
}

/*   background-image: -webkit-linear-gradient(left, #dcdcdc 50%, #496937 50%);
  background-image: linear-gradient(to right, #dcdcdc 50%, #496937 50%);
  background-position: 0;
  background-size: 200%;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.left_form__link:hover {
  background-position: -100%;
} */

/* .left_form__link a {
  text-decoration-line: none;
  color: #000;
}

.left_form__link a:hover {
  color: rgb(197, 197, 197);
}

.left_form__svg {
  fill: rgb(197, 197, 197);
}

.left_form__svg :hover{
  fill: rgb(197, 46, 46);
} */