.navbar {
    --bs-bg-opacity: upset;
    background-color: var(--white);
}

.navlink {
    color: var(--green); 
    font-size: 2.0rem;
    text-transform: uppercase;
    padding-right: 3vh;
}

.navlink:hover {
    color: var(--orange);
}