.navbar {
    --bs-bg-opacity: upset;
    background-color: var(--white); 
}

.navlink {
    color: var(--green); 
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-right: 3vh;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.navlink:hover {
    color: var(--orange);
}

.profile_card_nav__content {
    margin-left: 1.5rem;
}

.profile_card_nav__avatar {
    object-fit: cover;
    vertical-align: middle; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile_card_nav__user {
    color: var(--orange); 
    font-size: 1.0rem;
    text-align: center;
}

.logo {
    width: 4vw;
    height: 10vh;
}

@media (min-width: 1000px) and (max-width: 1100px) {
    .navlink {
        font-size: 1.3rem;
    }
    .logo { 
        width: 4vw;
        height: 9vh;
    }
}

@media (min-width: 900px) and (max-width: 999px) {
    .navlink {
        font-size: 1.1rem;
    }
    .logo { 
        width: 4vw;
        height: 8vh;
    }
}

@media (min-width: 800px) and (max-width: 899px) {
    .navlink {
        font-size: 1.1rem;
    }
    .logo { 
        width: 4vw;
        height: 7vh;
    }
}

@media (min-width: 700px) and (max-width: 799px) {
    .navlink {
        font-size: 1.1rem;
    }
    .logo { 
        width: 4vw;
        height: 6vh;
    }
}

@media (min-width: 600px) and (max-width: 699px) {
    .navlink {
        font-size: 1.0rem;
    }
    .logo { 
        width: 4vw;
        height: 5vh;
    }
}

@media (max-width: 599px) {
    .navlink {
        font-size: 1.0rem;
    }
    .logo { 
        width: 4vw;
        height: 4vh;
    }
}