/* .activity_form__wrapper {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
  margin: 0 auto;
} */

.location_form_title {
  color: white;
}

.form_activity {
  /* height: 715px; */
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  margin: 20px 0  20px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border-radius: 20px; */
  /* box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1); */

  background: rgba(0,0,0,0.56);

  border-radius: 5vh;
}
.activity_form__location {
  height: 400px;
  width: 400px;
  color: white;
  /* background-color: rgb(236,240,239); */
}
.activity_formlocationselect{
  width: 70%;
  text-align: center;
}

.activity_form__input {
  width: 70%;
  border-radius: 5px;
  padding-left: 0.7rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-weight: 400;
  text-align: center;

}

.profile_form__button {
  /* margin-top: 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
  align-self: center;
  background-color: rgb(246,114,99);
  border-color: unset;
}